<%- include("partials/header"); %>

<h1>ABOUT</h1>
<br />
<h4><%= aboutContent %> </h4>
<br />
<div class="row">
    <div class="col-md-4">
        <img class="img-responsive"
            src="/images/139026827_442869286847102_6261254234609678011_n.jpeg" alt="image">
    </div>
    <div class="col-md-8">
        Hi, my name is Hoang Danh Thong, 18 years old.
        I'm currently a full-time student at Tampere University of Applied Sciences.
        I'm now focusing in web development and game development.

    </div>
</div>

<%- include("partials/footer"); %>