<%- include("partials/header"); %>

<h1>CONTACT</h1>

<br />
<h4>Based in Tampere</h4>
<h4>Tel: +358 414980030</h4>
<h4>E-mail: <a href="mailto:thonghoangdanh@gmail.com" target="_blank">thonghoangdanh@gmail.com</a></h4>
<br />

<h4><a href="https://thongzxje.netlify.app" target="_blank">Visit my website</a></h4>

<br />

<h4><a href="https://frozen-ocean-94800.herokuapp.com/" target="_blank">Sign up to my newsletter</a></h4>


<%- include("partials/footer"); %>